body{
    margin: 0;
    padding: 0;
    background: lightblue;
}
.fullbody {
margin: auto;min-height: 930px;width: 980px;
}
.top-header{ width: 150px; height: 30px; border: 2px solid red; border-bottom: none; float: right;
}
.layout { border: 2px solid red; float: left; min-height: 898px; width: 976px; border-bottom: none;
}
.header{ width: 976px; height: 127px; border: 2px solid red; border-left: none; border-top: none;
}
.header .logo { border: 2px solid red; height: 108px; width: 176px; margin-top: 8px; margin-left: 8px;
  float: left;
}
.header .banner { border: 2px solid red; height: 108px; width: 410px; margin-top: 8px; margin-left: 8px; float: left;
}
.header .search {height: 108px;width: 195px;margin-top: 8px; margin-left: 8px; float: left;
}
.search .search_top { border: 2px solid red;float: left; height: 47px; margin-bottom: 10px; width: 196px;
}
.header .username { border: 2px solid red; float: left; height: 108px; width: 140px; margin-top: 8px; margin-left: 12px;
}
.body{ width: 976px;  height: 768px;  border: 2px solid red;  border-left: none;  border-top: none;
}
.body .left_sidebar{ height: 680px; width: 176px; float: left;
}
.left_sidebar .left_sidebar_top { border: 2px solid red; float: left; height: 400px; margin-left: 8px; margin-top: 8px;width: 176px;
}
.left_sidebar .left_sidebar_bottom {border: 2px solid red; float: left; height: 268px; margin-left: 8px;
 margin-top: 8px; width: 176px;
}
.body .main_content { float: left; height: 680px; width: 618px;
}
.main_content .main_content_one{  border: 2px solid red; float: left;  height: 80px;  margin-left: 20px;  margin-top: 8px; width: 618px;
}
.main_content .main_content_two { border: 2px solid red;float: left; height: 25px; margin-left: 20px;margin-top: 8px; width: 360px;
}
.main_content .main_content_three { border: 2px solid red; float: left; height: 550px; margin-left: 20px; margin-top: 8px; width: 618px;
}
.main_content_three .main_content_three_child { border: 2px solid red; float: left; height: 200px; margin-left: 8px; margin-top: 8px; width: 597px;
}
.body .right_sidebar { float: left; height: 679px; width: 139px;
}
.right_sidebar .right_sidebar_top { border: 2px solid red;float: left; height: 339px;margin-left: 32px;
  margin-top: 8px;width: 139px;
}
.right_sidebar .right_sidebar_bottom { border: 2px solid red; float: left; height: 328px;
  margin-left: 32px;margin-top: 8px; width: 139px;
}
.body .footer { float: left;height: 60px; margin-left: 8px;margin-top: 18px;width: 957px;
  border: 2px solid red;
}